@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,300&family=Poppins:wght@300&display=swap');



body{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.logo{
    width: 90px;
    border-radius: 50%;
}

.nav-link{
    color: yellow;
}

.nav-link:hover{
    color: yellowgreen;
}

.img-card{
    width: 90%;
    margin: 0 auto;
}

.card-precio{
    display: inline-block;
    padding: 3px 5px;
    border-radius: 10px;
    color: #ffff;
    background-color: rgba(0, 0, 0, 0.881); 
}

.card-title{
    font-weight: 600;
}

.card{
    width: 200px;
}

.img-tarjeta{
    width: 150px;
    background-color: #ffff;
    padding: 5px 8px;
    border-radius: 10px;
    text-align: center;
}